
#background-one {
	background-image: url(../surfandpaddle/images/header.jpg);
	height: 520px;
}

#containerone {
	height: 520px;
	margin: 0 auto;
}

#header {
	width: 960px;
	margin: 0 auto;
}

#headerlineleft {
	padding-top: 1px;
}

#floatheaderleft {
	float: left;

}

#floatheaderright {
	float: right;
	margin-top: 10px;
}

#headerlineright {
	padding-top: 1px;
	float: right;
}

#headertitle {
	text-align: center;
	color: white;
	font-family: 'Oswald';
	font-size: 90px;
	padding-top: 100px;
}

p {
	font-size: 18px;
	font-family: 'oswald';
}

#headersubtitle {
	text-align: center;
	margin-top: -14px;
}

#containertwo {
	width: 960px;
	margin: 0 auto;
	height: 1000px;
}

#columnone {
	float: left;
	width: 700px;
}

#smallavatar {
	width: 100px;
	height: 100px;
}

#columntwo {
	float: right;
	width: 260px;
	margin: 0 auto;
}

h1 {
	font-family: 'oswald';
	font-size: 60px;
	line-height: 1.2em;
}

#h2div {
	width: 600px;
}

#avatarone {
	text-align: center;
}

h2 {
	font-family: 'oswald';
	font-size: 60px;
	text-align: center;
}

#containerthree {
	text-align: center;
	margin-bottom: -17px;
}
/*
#artonecontainer {
	display: inline-block;
	position: relative;
}
*/

#artone {
	width: 300px;
	height: 300px;
	display: inline-block;
	position: relative;
	z-index: 1
}

#artone:hover {
	opacity: 1.0;
}

/*
#artonecover {
	width: 325px;
	height: 330px;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 15px;

}
*/

#arttwo {
	display: inline-block;
	width: 300px;
	height: 300px;
}

#artthree {
	display: inline-block;
	width: 300px;
	height: 300px;
}

#artfour {
	display: inline-block;
	width: 300px;
	height: 300px;
}

#footer {
	height: 95px;
	width: 100%;
	background-color: #003366;
}

#bottomcontainer {
	width: 960px;
	margin: 0 auto;
}

#floatleft {
	float: left;
}

#bottomimage {
	float: left;
	margin-top: -8px;
}

#bottomtext {
	float: right;
}

#bottomtext {
	color: #a3b3bf;
	font-family: 'Oswald';
	font-size: 12px;
	margin-top: 41px;
	margin-left: 10px;
}

nav, ul, li {
	color: #a3b3bf;
	list-style: none;
	display: inline;
	font-size: 12px;
	float: right;
	text-decoration: none;
	text-align: center;
	margin-left: 1px;
	margin-top: 12px;
}

li:before {
	color: #a3b3bf;
	content: "|";
}






