
#background-one {
	background-image: url(../surfandpaddle/images/header.jpg);
	height: 520px;
}

.wavelogo {
	margin-top: 15px;
}

#containerone {
	height: 520px;
	margin: 0 auto;
}

#header {
	width: 960px;
	margin: 0 auto;
}

#headerlineleft {
	padding-top: 1px;
}

#floatheaderleft {
	float: left;

}

#floatheaderright {
	float: left;
	margin-top: 10px;
	padding-left: 10px;
}

#headerlineright {
	padding-top: 1px;
	float: right;
}

#headertitle {
	text-align: center;
	color: white;
	font-family: 'Oswald';
	font-size: 90px;
	padding-top: 100px;
}

p {
	font-size: 18px;
	font-family: 'oswald';
}

#headersubtitle {
	text-align: center;
	margin-top: -14px;
}

#containertwo {
	width: 960px;
	margin: 0 auto;
	height: 1000px;
}

#columnone {
	float: left;
	width: 610px;
	margin-top: 35px;
}

.smallavatar {
	width: 25px;
	height: 25px;
}

#columntwo {
	float: right;
	width: 260px;
	margin: 0 auto;
	margin-top: 100px;
}

h1 {
	font-family: 'oswald';
	font-size: 60px;
	line-height: 1.2em;
}

#smallavatar {
	display: inline-block;
	height: 58px;
}

.annemariesmall {
	display: inline-block;
	color: #106bd3;
	font-size: 14px;
	padding-left: 10px;
}

.dateandtime {
	display: inline-block;
	font-size: 14px;
	padding-left: 12px;
	color: #CCCCCC;
}

.aboutad {
	font-size: 14px;
	color: #CCCCCC;
	text-align: right;
}

#alttext {
	width: 100%;
}

#paddlepic {
	height: 274px;
}

#h2div {
	width: 600px;
	height: 145px;
}

#avatarone {
	text-align: center;
	height: 85px;
}

h4 {
	font-family: 'oswald';
	font-size: 18px;
	text-align: left;
	color: #106bd3;
	height: 8px;
}

h3 {
	font-family: 'oswald';
	font-size: 25px;
	margin-left: 20px;
	color: #106bd3;
}

h2 {
	font-family: 'oswald';
	font-size: 60px;
	text-align: center;
	color: #000000;
	line-height: 1.2em;
}

#vertline {
	border-left: thick solid #000000;
}

.annemarielarge {
	font-size: 18px;
	color: #106bd3;
	font-family: 'pt-sans';
	text-align: center;
	height: 0px;

}

.social {
	text-align: center;
	font-size: 16px;
	padding: 10px;
	color: #CCCCCC;
	height: 70px;
}

#containerthree {
	text-align: center;
	height: 330px;
}
/*
#artonecontainer {
	display: inline-block;
	position: relative;
}
*/

#artone {
	width: 300px;
	height: 300px;
	display: inline-block;
	position: relative;
	z-index: 1
}

#artone:hover {
	opacity: 1.0;
}

/*
#artonecover {
	width: 325px;
	height: 330px;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 15px;

}
*/

#arttwo {
	display: inline-block;
	width: 300px;
	height: 300px;
}

#artthree {
	display: inline-block;
	width: 300px;
	height: 300px;
}

#artfour {
	display: inline-block;
	width: 300px;
	height: 300px;
}

#footer {
	height: 95px;
	width: 100%;
	background-color: #003366;
}

#bottomcontainer {
	width: 960px;
	margin: 0 auto;
}

#floatleft {
	float: left;
}

#bottomimage {
	float: left;
	margin-top: -8px;
}

#bottomtext {
	float: right;
}

#bottomtext {
	color: #a3b3bf;
	font-family: 'Oswald';
	font-size: 12px;
	margin-top: 6px;
	margin-left: 10px;
}

nav, ul, li {
	color: #a3b3bf;
	list-style: none;
	display: inline;
	font-size: 12px;
	float: right;
	text-decoration: none;
	text-align: center;
	margin-left: 1px;
	margin-top: 3px;
}

li:before {
	color: #a3b3bf;
	content: "|";
}






