
#background-one {
	background-image: url(../surfandpaddle/images/header.jpg);
	height: 520px;
}

.wavelogo {
	margin-top: 15px;
}

#containerone {
	height: 520px;
	margin: 0 auto;
}

#header {
	width: 960px;
	margin: 0 auto;
}

#headerlineleft {
	padding-top: 1px;
}

#floatheaderleft {
	float: left;
}

#floatheaderright {
	float: left;
	margin-top: 27px;
	padding-left: 12px;
	font-size: 18px;
}

#headerlineright {
	padding-top: 1px;
	float: right;
}

.search {
	float: left;
	margin-top: 24px;
}

.topbuttons {
	float: left;
	padding: 10px;
	padding: 6px;
	margin-top: 15px;
	font-style: 'oswald';
	font-size: 22px;
	font-weight: bold;
}

#headertitle {
	text-align: center;
	color: white;
	font-family: 'Oswald';
	font-size: 90px;
	padding-top: 170px;
}

p {
	font-size: 18px;
	font-family: 'oswald';
}

#headersubtitle {
	text-align: center;
	margin-top: -14px;
}

#containertwo {
	width: 960px;
	margin: 0 auto;
	height: 1050px;
}

#columnone {
	float: left;
	width: 610px;
	margin-top: 35px;
}

#rc {width: 185px; height: 30px;}
#rcsquare {width: 30px; height: 30px; background-color: #2F4F4F; float: left;}
#rcrec {height: 30px; width: 155px; background-color: #CCCCCC; float: left; color: white; font-size: 16px;}
#rcrectext {text-align: center; padding-top: 6px;}
.comment {float: right; padding: 6px; margin-top: 2px;}
#rc:hover > #rcsquare {background-color: #003366; color: white;}
#rc:hover > #rcrec {background-color: blue; color: white;}

#rc {float: left;}

#rc2 {width: 130px; height: 30px;}
#rcsquare2 {width: 30px; height: 30px; background-color: #2F4F4F; float: left;}
#rcrec2 {height: 30px; width: 100px; background-color: #CCCCCC; float: left; color: white; font-size: 16px;}
#rcrectext2 {text-align: center; padding-top: 6px;}
.comment {float: right; padding: 6px; margin-top: 2px;}
#rc2:hover > #rcsquare2 {background-color: #003366; color: white;}
#rc2:hover > #rcrec2 {background-color: blue; color: white;}

#rc2 {float: left; margin-left: 12px;}

#rc3 {width: 185px; height: 30px;}
#rcsquare3 {width: 30px; height: 30px; background-color: #2F4F4F; float: left;}
#rcrec3 {height: 30px; width: 155px; background-color: #CCCCCC; float: left; color: white; font-size: 16px;}
#rcrectext3 {text-align: center; padding-top: 6px;}
.comment {float: right; padding: 6px; margin-top: 2px;}
#rc3:hover > #rcsquare3 {background-color: #003366; color: white;}
#rc3:hover > #rcrec3 {background-color: blue; color: white;}

#rc3 {float: left; margin-left: 12px;}

#buttoncontainer {
	height: 100px;
}

.smallavatar {
	width: 25px;
	height: 25px;
}

#columntwo {
	float: right;
	width: 260px;
	margin: 0 auto;
	margin-top: 100px;
}

h1 {
	font-family: 'oswald';
	font-size: 60px;
	line-height: 1.2em;
}

#smallavatar {
	display: inline-block;
	height: 58px;
}

.annemariesmall {
	display: inline-block;
	color: #106bd3;
	font-size: 14px;
	padding-left: 10px;
}

.dateandtime {
	display: inline-block;
	font-size: 14px;
	padding-left: 12px;
	color: #CCCCCC;
}

.aboutad {
	font-size: 14px;
	color: #CCCCCC;
	text-align: right;
}

#alttext {
	width: 100%;
}

#paddlepic {
	height: 274px;
}

#h2div {
	width: 600px;
	height: 145px;
}

#avatarone {
	text-align: center;
	height: 85px;
}



h4 {
	font-family: 'oswald';
	font-size: 18px;
	text-align: left;
	color: #106bd3;
	height: 8px;
}

h3 {
	font-family: 'oswald';
	font-size: 25px;
	margin-left: 20px;
	color: #106bd3;
}

h2 {
	font-family: 'oswald';
	font-size: 60px;
	text-align: center;
	color: #000000;
	line-height: 1.2em;
}

#vertline {
	border-left: thick solid #CCCCCC;
}

.annemarielarge {
	font-size: 18px;
	color: #106bd3;
	font-family: 'pt-sans';
	text-align: center;
	height: 0px;

}

.social {
	text-align: center;
	font-size: 16px;
	padding: 10px;
	color: #CCCCCC;
	height: 70px;
}

#containerthree {
	text-align: center;
	height: 330px;
}
/*
#artonecontainer {
	display: inline-block;
	position: relative;
}
*/
.cover:hover {
	opacity: 0.4;
}

#artone:hover .cover {
	background-color: blue;
}

#artone {
	background-image: url(../surfandpaddle/images/article-image-1.jpg);
	width: 325px;
	height: 330px;
	float: left;
}


#arttwo {
	background-image: url(../surfandpaddle/images/article-image-2.jpg);
	float: left;
	width: 325px;
	height: 330px;
}

#artthree {
	background-image: url(../surfandpaddle/images/article-image-3.jpg);
	float: left;
	width: 325px;
	height: 330px;
}

#artfour {
	background-image: url(../surfandpaddle/images/article-image-4.jpg);
	float: left;
	width: 325px;
	height: 330px;
}

#footer {
	height: 95px;
	width: 100%;
	background-color: #003366;
}

#bottomcontainer {
	width: 960px;
	margin: 0 auto;
}

#floatleft {
	float: left;
}

#bottomimage {
	float: left;
	margin-top: -8px;
}

#bottomtext {
	float: right;
}

#bottomtext {
	color: #a3b3bf;
	font-family: 'Oswald';
	font-size: 12px;
	margin-top: 6px;
	margin-left: 10px;
}

nav, ul, li {
	color: #a3b3bf;
	display: inline;
	font-size: 12px;
	float: right;
	text-decoration: none;
	text-align: center;
	margin-left: 1px;
	margin-top: 3px;
}

li:before {
	color: #a3b3bf;
	content: "|";
}






